* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color1: #92ccce;
    --color2: #31343d;
    --color3: #1c1d21;
    --color4: #445877;
}

/* Add background color for whole page.*/
body {
    background-color: #eeeef7;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 4%;
}

/* Name */
header {
    padding: 10px 0;
    background-color: var(--color2);
}

header h1 {
    display: inline-block;
    font-size: 40px;
    background-color: var(--color1);
    color: var(--color3);
    padding: 5px 10px 5px 60px;
}

/* navigation */
nav {
    float: right;
    font-size: 20px;
    margin-top: 20px;
    padding-right: 40px;
}

nav a {
    color: var(--color1);
    text-decoration: none;
    border-bottom: 3px solid var(--color1);
    padding: 0 5px;
}

/*Backdrop and subtitle*/
.backDrop {
    position: relative;
    text-align: center;
    color: var(--color3);
}

.subtitle {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: var(--color1);
    padding: 2px;
}

/* Section styling */
/* setting up 2 column, 1 for header and 1 for info */
section {
    display: grid;
    grid-template-columns: 20% 70%;
    margin-top: 2%;
}

/* styling and align the header for "about me, Work and contact" */
section h2 {
    font-size: 40px;
    color: var(--color4);
    text-align: right;
    border-right: 3px solid var(--color4);
    padding: 0 10px 0 70px;
}

/* give line height and right and left space for about me */
p {
    padding: 0 30px;
    line-height: 150%;
}

/*Work Styling*/

/* ".part:first-child" styling only the first image */

/* Contact styling*/
#contact{
    margin-bottom: 5%;
}

/* aligning boxes evenly */
.info { 
display: inline-flex;
align-items: center;
justify-content: space-evenly;
}

/* changing text style */
.info a {
    color: var(--color3);
    text-decoration: none;
    border-bottom: 3px solid var(--color3);
}