* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Add background color for whole page.*/
body {
    background-color: #eeeef7;
    font-family: 'Times New Roman', Times, serif;
}

/* Name */
header {
    padding: 10px 0;
    background-color: #31343d;
}

header h1 {
    display: inline-block;
    font-size: 28px;
    background-color: #92ccce;
    color: #1c1d21;
    padding-left: 50px;
    padding-right: 10px;
}

/* navigation */
nav {
    float: right;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 20px;
}

nav a {
    color: #92ccce;
    text-decoration: none;
    border-bottom: 3px solid #92ccce;
    padding: 1.5% 10px;
}

/*Backdrop and subtitle*/
.backDrop {
    position: relative;
    text-align: center;
    color: #1c1d21;
}

.subtitle {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: #92ccce;
    padding: 2px;
}
/* Section styling */
/* setting up 2 column, 1 for header and 1 for info */
section {
    display: grid;
    grid-template-columns: 20% 70%;
    margin-top: 2%;
}

/* styling and align the header for "about me, Work and contact" */
section h2 {
    font-size: 40px;
    color: #445877;
    text-align: right;
    border-right: 3px solid #445877;
    padding: 0 10px 0 70px;
}

/* give line height and right and left space */
p {
    padding: 0 30px;
    line-height: 150%;
}



/*Work Styling*/
/* ".part:first-child" styling only the first image */

/* Contact styling*/
/* #contact { */
/* display: inline-flex; */
/* flex-wrap: wrap; */
/* justify-content: space-evenly;
width: 100%;
height: 100%;
align-items: center;
margin: 10px;
} */
